:root {
   --mainFontFamily: 'Permanent Marker', cursive;
}
body {
    font-size:16px;
    font-family:sans-serif;
    background-color: darkolivegreen;
}
#hangman {
    position: relative;
    width:500px;
    min-height: 600px;
	margin-left:auto;
    margin-right:auto;
    border: 3px black solid;
    background-color: white;
}
#aplhabet{
    float: left; 
    text-align: center;
	height: 280px;
}
#word {
    letter-spacing: 5px;
    font-size: 2rem;
    margin: 10px;
    padding: 10px 20px;
    border: 3px black solid;
    text-align: center;
    font-family: var(--mainFontFamily);
}

#letters button {
    padding: 3px;
    margin: 3px;
    font-family: var(--mainFontFamily);
    font-size: 20px;
    width: 40px;
	height: 40px;
	text-align:center;
    border: 1px solid gray;
    float: left;
    background-color: white;
}

#output {
    float: left; 
    width: 250px;
	text-align: center;
	min-height: 280px;
}

#output .step {
    border-right:3px #fff solid;
    float: left; 
}
#output .step img {
    width:100%;
}
#letters button.good {
    color: green;
  }
  #letters button.bad  {
    color: red;
  }
#category {
    text-align:center;
    padding: 10px 0px;
    font-size: 20px;
    text-transform:uppercase;
    font-family: var(--mainFontFamily);
}
#newGame {
    position: absolute;
    right: 10px;
    top: 550px;
    border: 3px black solid;
    width: 150px;
    height: 40px;
    background-color: white;
    font-family: var(--mainFontFamily);
    font-size: 20px;
}